@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #706993;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedorBusqueda{
    padding: 20px;
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}

#contenedorBusqueda input{
    padding: 10px;
    border: none;
    text-transform: uppercase;
    width: 300px;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}